# Compiled source #
###################
*.dcu
*.obj
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.rsm
*.stat
*.map
*.o
*.ppu
*.rsj
*.compiled
*.lib
*.pyd

# Generated source #
###################
*.hpp

# Backup files    #
###################
*.~*
*.bak

# IDE Files	  #
###################
*.dproj.local
*.groupproj.local
*.identcache
*.dsk
*.tvsconfig
*.otares
*.drc
*.rc
*.res
*.local

# Output Folders  #
###################
/Win32
/Win64
/OSX32
/__history
*.bak
*.Patch
*.#00
*.pch
/Tests/TestInsightSettings.ini
